section.Contact {
    justify-content: center;
    text-align: center;
    gap: 50px;
    flex-direction: column;
}

.t-wrap p{
    max-width: none;
}

.contact-list {
    display: flex;
    gap: 30px;
}

.contact-list li {
    background-color: salmon;
    padding: 100px 50px;
    color: #fff;
    width: 400px;
    font-size: 30px;
}

.contact-list li * {
    display: block;
}